<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fff;
        color: #000;
    }

    header {
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        padding: 20px;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
    }

    header span {
        text-align: left;
        display: flex;
        justify-content: flex-start;
    }

    nav {
        margin-top: 5px;
    }

    nav a {
        margin: 0 15px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    nav a:hover {
        opacity: 70%;
    }

    h1 {
        margin: auto 8px;
        font-size: 16px;
        letter-spacing: 0.4px;
        font-weight: 500;
    }

    h1 a {
        text-decoration: none;
        color: #333;
    }

    h1 a:hover {
        opacity: 70%;
    }

    section {
        padding: 20px 50px;
        text-align: left;
    }

    @media only screen and (max-width: 500px) {
        section {
            padding: 20px;
        }
    }

    .title {
        margin-top: 8px;
    }

    footer {
        text-align: inherit;
        font-size: 14px;
        padding: 20px;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 0.4px;
    }

    footer p a {
        color: #000;
        text-decoration: none;
    }

    footer p a:hover {
        opacity: 70%;
    }

    .contact {
        margin: 8px;
    }

    #work img {
        width: 100%;
        height: auto;
        margin: 0;
    }
</style>
